$blue = #4285f4

html {
  font-size: 62.5%
}

body {
  font-size: 1.4rem
}

#app-root {
  max-width: 500px
}

.location-list {
  display table
  list-style-type none

  li {
    display table-row

    > div {
      display table-cell
      padding 4px
    }

  }
}

.page-header {
  padding: 0 20px
}

.main-content {
  margin: 20px
}
